<%= form_with model: Book.new, local: true do |f| %>

  <h4>Name</h4>
  <%= f.text_field :title %>

  <h4>Image</h4>
  <%= f.file_field :image, accept: "image/*" %>

  <h4>Introduction</h4>
  <%= f.text_area :body %>

  <% unless user.guest_user? %>
  <div class="row">
    <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  </div>
<% end %>


